.container {
  overflow: hidden;
  margin: 0;
}

.row {
  margin-bottom: var(--mb-0-5);
  margin-top: var(--mb-0-5);
  font-size: var(--normal-font-size);
}
.card {
  border: none;
  box-shadow: none;
}
mat-form-field {
  max-width: 500px;
}
.card-title {
  color: var(--accent-color);
}

.card-body {
  background-color: var(--body-color);
}
.label {
  font-weight: 700;
  color: var(--primary-color);
}

.button {
  justify-self: end;
  height: 52px;
  width: 300px;
}
.btn_change-password {
  width: 500px;
}
