

.content_register {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}

.register_card {
  width: 100%;
  max-width: 650px;
  text-align: center;
  display: flex;
  background-color: var(--white-color);
}

.row {
  margin-top: var(--mb-0-5);
}

.register_header {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.user-icon_register {
  width: 70px;
  height: 70px;
  color: var(--primary-color);
}


.title {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}

.form_register {
  width: 100%;
}


::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff !important;
}

mat-error {
  font-size: var(--small-font-size);
  text-align: start;
}

mat-card-actions {
  justify-self: center;
  display: flex;
  justify-content: center;
}

mat-card-footer {
  margin: var(--mb-1) 0;
  text-align: center;
}


.button {
  height: 50px;
}

.spinner {
  margin: 0 auto;
}