.mat-drawer[style*="visibility: hidden"] {
  visibility: visible !important;
  display: block;
  transition-duration: 400ms !important;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}
.mat-drawer {
  transform: none !important;
  border: none;
  background-color: var(--body-color);
  
  transition-duration: 400ms !important;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !important;

  -webkit-box-shadow: 2px 0px 3px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 2px 0px 3px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 2px 0px 3px -2px rgba(0, 0, 0, 0.46) !important;
}
