.mat-drawer[style*="visibility: hidden"] {
  visibility: visible !important;
  opacity: 1 !important;
  display: block; 
  transition-duration: 400ms !important;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: visibility 0s linear, opacity 0.3s linear !important;
}
.mat-drawer {
  transform: none !important;
  border: none;
  background-color: var(--white-color);
  
  transition-duration: 400ms !important;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !important;

  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1) !important;
}
