.dialog_content {
  background-color: var(--body-color-alt);
}


.dialog_title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
  background-color: var(--body-color-alt) !important;
  color: var(--title-color);
}

.dialog_message {
  font-size: var(--h3-font-size);
  color: var(--text-color);

  margin: var(--mb-1) 0;
  background-color: var(--body-color-alt);

}

.dialog_actions {
  justify-content: flex-end !important;
  padding-top: var(--mb-1);
  background-color: var(--body-color-alt);
}

.dialog_btn {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-5);
  color: var(--text-color) !important;
}