
  <div class="page_title">
    <h2>Inicio</h2>
    <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active">Inicio /</li>
      </ol>
    </nav>
  </div>
  <div class="flex  container content_home">
    <!-- <h3 class="section__title">components inicio </h3> -->
    <mat-card class="card ">
      <mat-card-content>
        <img src="/assets/images/reports.png" alt="">
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <img src="/assets/images/budgetreport.png" alt="">
        
      </mat-card-content>
    </mat-card>
  </div>

