table {
  width: 100%;
}
.card-header-content {
  width: 100%; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.mat-mdc-form-field  {
  width: 100% !important;
}
.btn-add {
  width: fit-content;
  margin-left: 10px;
  height: 40px;
}

.btnEdit, 
.btnDelete {
  cursor: pointer;
}

.btnEdit {
  color: #376bcd;
}

.btnDelete {
  color: red;
}