.sidenav {
  width: 270px;
}
.toggle__menu {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--body-color-alt);
  color: var(--primary-color);
}
.toggle:hover {
  cursor: pointer;
}
.active-link {
  background-color: var(--body-color-alt);
  border-left: solid 3px #1976d2;
  color: var(--accent-color) !important;
}

.active-link .mat-icon {
  color: var(--accent-color) !important;
  font-size: 26px;
  width: 26px;
  height: 26px;
}
.active-link .text_menu  {
  color: var(--accent-color) !important;
}
.nav .mat-list-item_hover {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, border, background-color;
}
.nav .item_menu {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.nav .active-link .item_menu {
  background-color: var(--body-color);
  border-radius: 7px;
}

.nav .item_menu .item_menu-icon {
   flex: 1 0  5%;;
}

.nav .item_menu .item_menu-text {
  flex: 1 0 65%;
  justify-self: center;
  align-self: center;
}

.nav .item_menu-text h3 {
  color: var(--primary-color) ;
  font-size: 1rem;
  font-weight: var(--font-medium);
  margin: 0 !important;
}

.nav .active-link h3 {
  color: var(--primary-color) ;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
}
.nav mat-list-item, .nav a {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}
.nav mat-list-item:hover, .nav a:hover {
  cursor: pointer;
  background-color: var(--body-color);
  border-left: solid 3px #1976d2;
}
.nav mat-icon {
  color: var(--primary-color) !important;
  font-size: 26px;
}

mat-list {
  padding: 0;
  color: var(--text-light);
}

.icon__close {
  justify-content: flex-start;
}

.mdc-list-item__content {
  flex-direction: row;
}

.icon__item-menu {
  font-size: 26px;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}


